@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a {
  color: inherit; }

a:hover {
  text-decoration: none; }

ul,
ol,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.checkbox-wrapper {
  display: flex;
  align-items: center; }
  .checkbox-wrapper > *:not(:last-child) {
    margin-right: 1.875rem; }
  @media (max-width: 35rem) {
    .checkbox-wrapper {
      flex-direction: column;
      align-items: flex-end; }
      .checkbox-wrapper > *:not(:last-child) {
        margin: 0rem 0rem 0.9375rem 0rem; } }

.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.ki {
  font-size: 2.5rem;
  color: green;
  margin-right: 0.625rem; }

.ara {
  font-size: 2.5rem;
  color: red;
  margin-right: 0.625rem; }

.check {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.1875rem;
  border: 3px solid rgba(0, 0, 0, 0.2); }

.check-ok {
  position: relative; }
  .check-ok span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/check-green.svg.png") 0 0/100% 100% no-repeat;
    transform: scale(0);
    transition: 0.5s ease-in; }

.check-no {
  position: relative; }
  .check-no span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/check-red.svg.png") 0 0/100% 100% no-repeat;
    transform: scale(0);
    transition: 0.5s ease-in; }

.check-ok.active span {
  transform: scale(1); }

.check-no.active span {
  transform: scale(1); }

.modal.open {
  opacity: 1;
  visibility: visible; }

.modal.open .modal__content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 50; }
  .modal__body {
    margin-top: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px; }
  .modal__content {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/board.jpg") 0 0/100% 100% no-repeat;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg); }
    @media (max-width: 1170px) {
      .modal__content {
        width: calc(260px + 390 * ((100vw - 320px) / 850)); } }
  .modal__title {
    color: white;
    font-size: 40px;
    margin: 0px 0px 1em 0px;
    text-align: center; }
    @media (max-width: 1170px) {
      .modal__title {
        font-size: calc(30px + 10 * ((100vw - 320px) / 850)); } }
    .modal__title span {
      color: palevioletred; }
  .modal__text {
    color: #000; }

.restart-game {
  font-size: 90px;
  background-color: inherit;
  color: white; }
  @media (max-width: 1170px) {
    .restart-game {
      font-size: calc(38px + 52 * ((100vw - 320px) / 850)); } }

.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background: url("../img/board.jpg") 0 0/100% 100% no-repeat;
  max-width: 100rem;
  margin: 0 auto;
  color: white;
  position: relative; }

.back-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-left: 3.125rem;
  align-self: flex-start;
  cursor: pointer; }
  @media (max-width: 1170px) {
    .back-wrapper {
      margin-top: calc(20px + 20 * ((100vw - 320px) / 850)); } }
  .back-wrapper img {
    width: 6.25rem;
    height: 3.125rem;
    transform: rotate(180deg); }

.empty {
  margin-bottom: 0.625rem;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 430px;
  height: 90px;
  margin-top: 0px; }
  @media (max-width: 1170px) {
    .empty {
      font-size: calc(20px + 20 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .empty {
      width: calc(200px + 230 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .empty {
      height: calc(0px + 90 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .empty {
      margin-top: calc(10px + -10 * ((100vw - 320px) / 850)); } }

.container > *:nth-child(3) {
  margin-top: 0px;
  margin-right: 0px; }
  @media (max-width: 1170px) {
    .container > *:nth-child(3) {
      margin-top: calc(30px + -30 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .container > *:nth-child(3) {
      margin-right: calc(30px + -30 * ((100vw - 320px) / 850)); } }

section {
  display: flex;
  align-items: center; }
  section:not(:last-child) {
    margin-bottom: 10px; }
    @media (max-width: 1170px) {
      section:not(:last-child) {
        margin-bottom: calc(5px + 5 * ((100vw - 320px) / 850)); } }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 80px;
  width: 15.3125rem;
  font-family: "Dancing Script"; }
  @media (max-width: 1170px) {
    .row {
      font-size: calc(40px + 40 * ((100vw - 320px) / 850)); } }

.row input {
  display: block;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  background-color: transparent; }

.row span {
  display: block;
  background-color: transparent;
  height: 3.4375rem;
  width: 1.25rem;
  position: absolute;
  right: 0.5625rem;
  top: 0.1875rem; }

.row p {
  margin-right: 0.625rem; }

.a2 {
  margin-bottom: 0.3125rem; }

.b2 {
  margin-top: -1.25rem; }

.btn {
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  padding: 0rem 0.625rem; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.main-container {
  background: url("../img/main-bg.webp") 0 0/100% 100% no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  max-width: 100rem;
  margin: 0 auto; }

.flags {
  margin-top: 420px;
  display: flex;
  align-items: center; }
  @media (max-width: 1170px) {
    .flags {
      margin-top: calc(300px + 120 * ((100vw - 320px) / 850)); } }
  .flags img {
    width: 250px;
    height: 200px; }
    @media (max-width: 1170px) {
      .flags img {
        width: calc(90px + 160 * ((100vw - 320px) / 850)); } }
    @media (max-width: 1170px) {
      .flags img {
        height: calc(90px + 110 * ((100vw - 320px) / 850)); } }
  .flags > *:not(:last-child) {
    margin-right: 1.25rem; }
  .flags a {
    cursor: pointer;
    border: 5px solid grey;
    border-radius: 0.3125rem;
    transform: scale(1); }
    .flags a:hover {
      transform: scale(1.1);
      border-color: green; }
  @media (max-width: 767.98px) {
    .flags {
      margin-top: 280px;
      flex-direction: column; } }
  @media (max-width: 767.98px) and (max-width: 1170px) {
    .flags {
      margin-top: calc(340px + -60 * ((100vw - 320px) / 850)); } }
  @media (max-width: 767.98px) {
      .flags > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.25rem; } }

.wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
  background: url("../img/bg.jpg") 0 0/100% 100% no-repeat;
  max-width: 100rem;
  margin: 0 auto;
  position: relative; }

.start-title {
  margin-top: 12.5rem; }

h1 {
  color: palevioletred;
  font-weight: 700;
  margin-top: 230px;
  font-size: 70px; }
  @media (max-width: 1170px) {
    h1 {
      margin-top: calc(150px + 80 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    h1 {
      font-size: calc(27px + 43 * ((100vw - 320px) / 850)); } }

.h1-span {
  height: 3.125rem;
  font-size: 50px;
  display: block;
  color: red;
  margin-top: 1.25rem;
  margin-bottom: 20px; }
  @media (max-width: 1170px) {
    .h1-span {
      font-size: calc(28px + 22 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .h1-span {
      margin-bottom: calc(0px + 20 * ((100vw - 320px) / 850)); } }

.h1-span2 {
  font-size: 50px;
  display: block;
  color: green;
  margin-bottom: 35px; }
  @media (max-width: 1170px) {
    .h1-span2 {
      font-size: calc(24px + 26 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .h1-span2 {
      margin-bottom: calc(10px + 25 * ((100vw - 320px) / 850)); } }

.input-name-wrapper {
  display: inline-flex;
  align-items: center;
  height: 3.125rem; }
  @media (max-width: 991.98px) {
    .input-name-wrapper {
      height: fit-content;
      flex-direction: column; } }

#input-name {
  display: block;
  height: 3.125rem;
  width: 15.625rem;
  border: 3px solid blue;
  border-radius: 5px 0px 0px 5px;
  color: green;
  padding: 0rem 0.9375rem;
  font-size: 1.5625rem; }
  @media (max-width: 991.98px) {
    #input-name {
      width: 250px;
      border: 3px solid blue;
      border-radius: 0.3125rem;
      margin-bottom: 0.625rem;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 991.98px) and (max-width: 1170px) {
    #input-name {
      width: calc(160px + 90 * ((100vw - 320px) / 850)); } }
  @media (max-width: 991.98px) and (max-width: 1170px) {
    #input-name {
      padding-left: calc(5px + 10 * ((100vw - 320px) / 850)); } }
  @media (max-width: 991.98px) and (max-width: 1170px) {
    #input-name {
      padding-right: calc(5px + 10 * ((100vw - 320px) / 850)); } }

  #input-name::placeholder {
    font-size: 18px; }
    @media (max-width: 1170px) {
      #input-name::placeholder {
        font-size: calc(14px + 4 * ((100vw - 320px) / 850)); } }

#name-btn {
  height: 3.125rem;
  border: 3px solid blue;
  border-left: none;
  font-size: 25px;
  color: blue;
  border-radius: 0px 5px 5px 0px;
  padding: 0.3125rem 0.625rem;
  background-color: #fff; }
  @media (max-width: 1170px) {
    #name-btn {
      font-size: calc(20px + 5 * ((100vw - 320px) / 850)); } }
  #name-btn:hover {
    color: green;
    border: 3px solid green;
    border-left: none; }
  @media (max-width: 991.98px) {
    #name-btn {
      width: 10rem;
      border: 3px solid blue;
      border-radius: 0.3125rem; }
      #name-btn:hover {
        color: green;
        border: 3px solid green; } }

.sad-face {
  max-width: 27.0625rem;
  max-height: 29.375rem;
  margin-top: -1.25rem;
  max-width: 430px;
  max-height: 470px; }
  @media (max-width: 1170px) {
    .sad-face {
      max-width: calc(170px + 260 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .sad-face {
      max-height: calc(200px + 270 * ((100vw - 320px) / 850)); } }
  .sad-face img {
    width: 100%; }

.hide {
  height: 0;
  scale: 0;
  visibility: hidden;
  transition: all 0.8s ease; }

.jer {
  max-width: 390px;
  margin-top: 1.25rem;
  color: red;
  font-size: 1.5625rem;
  font-weight: 700; }
  @media (max-width: 1170px) {
    .jer {
      max-width: calc(155px + 235 * ((100vw - 320px) / 850)); } }

.bay {
  margin-top: 1.875rem;
  font-size: 2.5rem;
  color: red;
  font-weight: 700; }

.choose-class {
  margin-top: -16.25rem; }
  .choose-class__class-one {
    color: palevioletred; }
  .choose-class__class-two {
    color: red; }
  .choose-class__class-tree {
    color: yellow; }

.choose-classwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5625rem; }

.class-btn {
  width: 50px;
  height: 50px;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.875rem;
  font-weight: 700;
  border: 3px solid blue; }
  @media (max-width: 1170px) {
    .class-btn {
      width: calc(40px + 10 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .class-btn {
      height: calc(40px + 10 * ((100vw - 320px) / 850)); } }
  .class-btn:not(:last-child) {
    margin-right: 20px; }
    @media (max-width: 1170px) {
      .class-btn:not(:last-child) {
        margin-right: calc(15px + 5 * ((100vw - 320px) / 850)); } }
  .class-btn:hover {
    border: 3px solid green; }

h2 {
  font-size: 50px;
  color: green;
  margin: 12.5rem 0rem 2.5rem 0rem; }
  @media (max-width: 1170px) {
    h2 {
      font-size: calc(40px + 10 * ((100vw - 320px) / 850)); } }
  h2 span {
    color: red; }
  h2 p:nth-child(2) {
    color: blue; }
  h2 p:nth-child(4) {
    color: yellow; }

.battons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px; }
  @media (max-width: 1170px) {
    .battons {
      max-width: calc(100px + 400 * ((100vw - 320px) / 850)); } }
  @media (max-width: 31.9375rem) {
    .battons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0.625rem; } }

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
  border-radius: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: blue; }
  @media (max-width: 1170px) {
    .main-btn {
      font-size: calc(20px + 20 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .main-btn {
      padding-left: calc(10px + 10 * ((100vw - 320px) / 850)); } }
  @media (max-width: 1170px) {
    .main-btn {
      padding-right: calc(10px + 10 * ((100vw - 320px) / 850)); } }
  .main-btn:not(:last-child) {
    margin-right: 0.625rem; }
  @media (max-width: 31.9375rem) {
    .main-btn {
      justify-self: center; }
      .main-btn:not(:last-child) {
        margin-right: 0; } }
  .main-btn:hover {
    border: 3px solid green;
    color: green; }

/*# sourceMappingURL=style.css.map */
